<section class="section">
    <div class="card">
      
      <img src="PelisUp-Angular/image/artelera/Black_Widow.jpg" alt="Black Widow">
      <h2>Black Widow</h2>
       <button (click)="changeText()">Acción/Aventura, Espionaje</button>
    </div>
  
    <div class="card">
      <img src="PelisUp-Angular/image/cartelera/Shang-Chi.jpg" alt="Shang Chi">
      <h2>Shang Chi</h2>
      <p>Descripción de la película 2.</p>
      <button (click)="changeText()">Acción/Aventura, Espionaje</button>
    </div>
  
    <div class="card">
      <img src="PelisUp-Angular/image/cartelera/Loki.jpg" alt="Loki">
      <h2>Loki</h2>
      <button (click)="changeText()">Acción/Aventura, Espionaje</button>
    </div>
  
    <div class="card">
      <img src="PelisUp-Angular/image/cartelera/How_I_Met_Your_Mother.jpg" alt="How_I_Met_Your_Mother">
      <h2>How I Met Your Mother</h2>
      <button (click)="changeText()">Acción/Aventura, Espionaje</button>
    </div>
  
    <div class="card">
      <img src="PelisUp-Angular/image/cartelera/money_heist.jpg" alt="Money Heist">
      <h2>Money Heist</h2>
      <button (click)="changeText()">Acción/Aventura, Espionaje</button>
    </div>
  
    <div class="card">
      <img src="PelisUp-Angular/image/cartelera/friends.jpg" alt="Friends">
      <h2>Friends</h2>
      <button (click)="changeText()">Acción/Aventura, Espionaje</button>
    </div>
  
    <div class="card">
      <img src="PelisUp-Angular/image/cartelera/BigBangTheory.jpg" alt="The Big Bang Theory">
      <h2>The Big Bang Theory</h2>
      <button (click)="changeText()">Acción/Aventura, Espionaje</button>
    </div>
  
    <div class="card">
      <img src="PelisUp-Angular/image/cartelera/TwoAndMen.jpg" alt="Two And a Half Men">
      <h2>Two And a Half Men</h2>
      <button (click)="changeText()">Acción/Aventura, Espionaje</button>
    </div>

  </section>
  